name: Deploy Node App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to Windows EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
       host: ${{ secrets.EC2_HOST }}
       username: ${{ secrets.EC2_USER }}
       key: ${{ secrets.EC2_SSH_KEY }}
       script: |
         powershell -Command "
         cd C:\deploy\<repo-name>
         git pull origin main
         npm install
         pm2 restart node-app
          "

